* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  justify-items: center;
  margin-top: 60px;
  background-color: #f7f7f7;
  background-image: url("./img/onda.svg");
  font-family: Arial, Helvetica, sans-serif;
  gap: 60px;
}

.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

img {
  max-width: 100%;
  display: block;
}

.nav-menu ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

a {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  padding: 12px 30px;
}

.nav-menu a:hover {
  outline: 2px solid #ee2211;
}

.top-left-block a:hover {
  background-color: #900;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: auto;
  flex-wrap: wrap;
}

.top-left-block::before {
  content: "";
  position: absolute;
  justify-self: end;
  width: 60px;
  border: 2px solid #ee2211;
  top: 30px;
  right: -30px;
}

.top-left-block {
  display: grid;
  position: relative;
  padding: 70px 40px;
  text-align: end;
  grid-template-rows: repeat(3, auto);
  background-color: #fff;
  gap: 15px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.detail {
}

.button-ver-mais {
  display: flex;
  justify-self: end;
  color: #fff;
  background-color: #ee2211;
}

h2 {
  display: flex;
  margin-right: 20px;
  color: #c6c6c6;
  text-align: right;
  align-items: center;
  font-size: 4rem;
}

.bottom-right-block {
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  background-color: #fff;
}

.bottom-right-block section {
  padding: 1rem;
}

.bottom-right-block section:nth-child(odd) {
  background-color: #f7f7f7;
}

.bottom-right-block section:hover {
  border-left: 3px solid #ee2211;
}

.card {
  display: grid;
  column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  grid-template-columns: auto auto;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  padding: 40px;
}
